.button {
  width: 190px;
  height: 42px;
  border-radius: 60px;
  background-color: #ff3d81;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
