.wrapper {
  display: flex;
  flex-direction: column;
}

.movieCard {
  display: flex;
  gap: 35px;
}

.leftBlock {
  max-width: 482px;
  flex-shrink: 0;
}

.banner {
  border-radius: 10px;
}

.rightBlock {
  flex: 1 1 auto;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  line-height: 1;
  width: min-content;
}

.description {
  margin-top: 30px;
}

.tableTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* .table {
   color: #7A7A7A;
}

.table tr {
  display: block;
  margin-bottom: 16px;
}

.table td:first-child {
   width: 300px;
} */

.leftColoumn {
  width: 160px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.rightColoumn {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.movieFrames {
  margin-top: 20px;
}

.breadcrumbs {
  margin-bottom: 40px;
  text-align: start;
}
