.footer {
   height: 198px;
   background-color: #080423;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: auto;
}

.logo {
   color: #FF3D81;
   font-family: Bayon;
   font-weight: 400;
   font-size: 40px;
}

.navLink {
   color: #FFF9F9;
   font-weight: 400;
   font-size: 16px;
   display: flex;
   column-gap: 40px;

}

.wrapper {
   display: flex;
   justify-content: space-between;
}